:root {
  --primaryPurple: #5e35b1;
  --secondaryPurple: #9a7cd7;
  --primaryBlue: #384db1;
  --secondaryBlue: #7ebed7;
  --primaryLight: #fcfbfe;
}
body {
  font-family: 'Montserrat', sans-serif !important;
  background: var(--primaryBlue);
}

a:link {
  text-emphasis: none;
  text-decoration: none;
  color: var(--primaryLight);
}

a:visited {
  color: var(--primaryLight);
}

a:hover {
  color: var(--primaryLight);
}

a:active {
  color: var(--primaryLight);
}

.full-page-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.full-page-container-tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15.4rem;
}
.space-test {
  border: 1px solid red;
}

.space-test-two {
  border: 1px solid green;
}

/* NAVBAR */

.nav-div {
  padding-left: 10rem;
  padding-right: 10rem;
  background: none;
}
.logo-div {
  margin: 0;
  padding: 0;
}
.nav-logo {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.05rem;
  font-size: 7rem;
  color: var(--primaryLight) !important;
  padding: 0;
  margin: 0;
  text-shadow: var(--secondaryBlue) 10px 15px, var(--secondaryPurple) 20px 30px;
}

.nav-icon {
  font-size: 4rem;

  border-bottom: 3px solid var(--secondaryPurple);
  color: var(--primaryLight);
  border-radius: 0;
}
.nav-icon:active {
  border-color: var(--primaryPurple);
}
.nav-dropdown {
  width: 20rem;
  margin: 0 !important;
  background: var(--secondaryPurple);
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 0.05rem;
  color: var(--primaryLight) !important;
}
.nav-dropdown-item {
  color: var(--primaryLight) !important;
  padding: 0 1rem !important;
  text-decoration: none !important;
}
.nav-dropdown-item:hover {
  background: var(--secondaryBlue);
}

.nav-dropdown-item:active {
  background: var(--primaryPurple);
}

/* CALCULATOR */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entire-form-div {
  text-align: center;
  max-width: 70rem;
}
.form-div {
  width: 70rem;
}

.form-text {
  color: var(--primaryLight);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  letter-spacing: 0.05rem;
}
.form-title {
  max-width: 45rem;
  color: var(--primaryLight);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}
input::placeholder {
  color: var(--primaryPurple) !important;
  text-align: center !important;
}
input:hover {
  border-color: var(--secondaryBlue);
}
input:placeholder-shown {
  color: var(--primaryLight) !important;
  background: var(--primaryLight) !important;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.form-textarea {
  font-family: 'Montserrat', sans-serif;
  color: var(--primaryPurple) !important;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.05rem;
  margin: 0 !important;
  border: 3px solid var(--secondaryPurple);
  width: 10rem !important;
  background: var(--primaryLight) !important;
  border-radius: 0;
}

.form-ratio {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-align-last: center;
  letter-spacing: 0.05rem;
  margin: 0 !important;
  border: 3px solid var(--secondaryPurple);
  width: 10rem !important;
  border-radius: 0;
  background: var(--primaryLight) !important;
}

.select-style {
  position: relative;
}

.select-style select {
  color: var(--primaryPurple);
  text-align-last: center;
}

.form-button {
  color: var(--primaryLight);
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  background: var(--secondaryPurple);
  border: none !important;
  border-radius: 0;
}
.form-button:hover {
  background: var(--secondaryBlue);
}

.form-button:active {
  background: var(--primaryPurple) !important;
  border: none !important;
}

.form-answer-div {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.form-answer-title {
  color: var(--primaryLight);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

/* ABOUT */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-div {
  max-width: 60rem;
  margin: 0 2rem;
}
.about-text {
  color: var(--primaryLight);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  text-align: justify;
}
.brwr-about {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.5rem !important;
  text-shadow: var(--secondaryBlue) 2.5px 3.75px,
    var(--secondaryPurple) 5px 7.5px;
}

.about-title {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.05rem;
  font-size: 4rem;
  color: var(--primaryLight) !important;
  padding: 0;
}

/* TIPS  */

.tip-div {
  max-width: 70rem;
  margin: 0 2rem;
}

.tip-slogan {
  text-align: justify;
  color: var(--primaryLight);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.list-container {
  color: var(--primaryLight);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  text-align: justify;
  margin-bottom: 3rem;
}

.tip-list {
  border: none;
}

.tip-list-item {
  background: none;
  border-bottom: 3px solid var(--secondaryPurple) !important;
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  align-items: center;
  text-align: center;
}

.footer-link-div {
  color: var(--primaryLight);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* LITTLE SCREENS */

@media only screen and (max-width: 800px) {
  .full-page-container-tips {
    margin-top: 13.1rem;
  }
  .nav-div {
    padding: 0rem;
    margin: 0 1rem !important;
    flex-direction: row;
  }

  .nav-logo {
    font-size: 5rem;
    font-family: 'Rubik', sans-serif !important;
    padding: 0 !important;
  }

  .nav-icon {
    font-size: 3rem;
  }
  .nav-dropdown {
    margin: 1.25rem 0 0 0 !important;
    width: 11rem;
    font-size: 1.25rem;
  }
  .about-title {
    font-size: 2.5rem;
  }
  .about-text {
    font-size: 1.25rem;
  }
  .brwr-about {
    font-size: 2rem !important;
  }
  .about-div {
    margin: 0 2rem;
  }
  .entire-form-div {
    margin-top: 3rem !important;
  }
  .form-div {
    width: 97vw;
  }
  .form-button {
    font-size: 1.5rem;
  }
  .form-title {
    width: 13rem;
    font-size: 1.5rem;
  }
  .form-answer-title {
    font-size: 1.5rem;
  }
  .tip-slogan {
    font-size: 1.25rem;
  }
  .list-container {
    font-size: 1rem;
  }
  .list-title {
    text-align: center;
  }
}
