:root {
  --primaryPurple: #5e35b1;
  --secondaryPurple: #9a7cd7;
  --primaryBlue: #384db1;
  --secondaryBlue: #7ebed7;
  --primaryLight: #fcfbfe;
}
body {
  font-family: 'Montserrat', sans-serif !important;
  background: var(--primaryBlue);
}

.space-test {
  border: 1px solid red;
}

.space-test-two {
  border: 1px solid green;
}
/* NAVBAR */
.nav-div {
  margin-left: 10rem;
  margin-right: 10rem;
}
.logo-div {
  margin: 0;
  padding: 0;
}
.nav-logo {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  font-size: 7rem;
  color: var(--primaryLight) !important;
  padding: 0;
  margin: 0;
  /*   transform: skew(30deg, -20deg) scaleY(0.77778);
 */
}
.nav-logo:hover {
  text-shadow: var(--secondaryBlue) 15px 20px, var(--secondaryPurple) 30px 40px;
}

.nav-slogan {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 4rem;
  letter-spacing: 0.05rem;
  color: var(--primaryLight);
  /*   transform: skew(30deg, -20deg) scaleY(0.77778);
 */
}

.nav-slogan:hover {
  text-shadow: var(--secondaryBlue) -5px -10px,
    var(--secondaryPurple) -15px -20px;
}

.nav-icon {
  font-size: 4rem;
  border-bottom: 3px solid var(--secondaryPurple);
  color: var(--primaryLight);
}
.nav-dropdown {
  max-width: 20rem;
  margin: 0 !important;
  background: var(--secondaryPurple);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 0.05rem;
  color: var(--primaryLight) !important;
}
.nav-dropdown-item {
  color: var(--primaryLight) !important;
  padding: 0 1rem !important;
  text-decoration: none !important;
}
.nav-dropdown-item:hover {
  background: var(--secondaryBlue);
}
@media only screen and (max-width: 800px) {
  .logo-div {
    display: none !important;
  }
  .nav-div {
    margin: 0;
  }
  .form-container {
  }
  .entire-form-div {
    margin-top: 0rem !important;
  }
  .form-div {
    width: 30rem !important;
  }
  .form-title {
    text-align: center !important;
  }
  .form-textarea {
    text-align: center;
  }
}
/* CALCULATOR */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.entire-form-div {
  text-align: center;
  height: 50%;
  margin-top: 15rem;
}
.form-div {
  width: 70rem;
}

.form-text {
  color: var(--primaryLight);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  letter-spacing: 0.05rem;
}
.form-title {
  color: var(--primaryLight);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
.form-textarea {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  letter-spacing: 0.05rem;
  margin: 0 !important;
  border: 3px solid var(--secondaryPurple);
  width: 10rem !important;
  background: var(--primaryLight) !important;
  text-align: left;
}

.form-ratio {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-align: center !important;
  letter-spacing: 0.05rem;
  margin: 0 !important;
  border: 3px solid var(--secondaryPurple);
  width: 10rem !important;
  background: var(--primaryLight) !important;
}
.form-button {
  color: var(--primaryLight);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  background: var(--secondaryPurple);
  border: none;
}
.form-button:hover {
  background: var(--secondaryBlue);
}
.form-answer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
}
.form-answer-title {
  color: var(--primaryLight);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
